

.FourOhFourContainer {
    display: flex;
    flex-direction: column;
  }
  
  .Headline{
    
    text-align: left;
    display: block;
    padding: 5px;
    width: 100%;

  }

  .FourOhFour {
    font-size: 10rem;
    line-height: 6rem;
  }
  
  .img1{
    width: 30%;
    height: 70;
   
  }

  .img2{
    width: 60%;
    height: 70;
  }

  .img3{
    width: 20%;
    height: 70;
  }

  .img4{
    width: 50%;
    height: 70;
  }

  .img5{
    width: 20%;
    height: 70;
  }

  .img6{
    width: 50%;
    height: 70;
  }

  @media only screen and (max-width: 700px){
    .img1{
      width: 95%;
      
     
    }
  
    .img2{
      width: 95%;
      
    }
  
    .img3{
      width: 95%;
      
    }
  
    .img4{
      width: 95%;
      height: 70;
    }
  
    .img5{
      width: 95%;
      height: 70;
    }
  
    .img6{
      width: 95%;
      height: 70;
    }

  }