.orderImg    {
    width: 6vw;
}

#orderHistory {
    align-items: center;
    justify-content: space-evenly;
    width: 65vw;
    padding-bottom: var(--small-padding);
    border-bottom: 0.2vw solid var(--highlight-colour);
    font-size: 90%;
}

#account    {
    align-items: flex-start;
}


@media (min-width: 1100px) {
    #orderHistory {
      width: 55vw;
      font-size: 100%;
      padding: 0;
    }
    #shipping   {
        font-size: 100%;
        padding: var(--small-padding);  
    }
  }





@media (max-width: 600px) {
    #orderHistory {
      width: 75vw;
      font-size: 80%;
    }
    .orderImg {
        width: 8vw;
    }
  }