table, td, tr, th {
 
    table-layout: fixed; 
    border: 1px solid black;
    border-collapse: collapse;
    color: #111827; 
    font-size: 1rem;
    line-height: 1.5rem; 
}

td {
    border-width: 0px; 
    border-color: #10B981; 
}

tr{
    
    border-width: 0px; 
    border-color: #10B981; 
}

tr:nth-child(even){
    background-color: #10B981;
    opacity: .7;
   }

th{

}

button{
   
    padding-top: 0.5rem; 
padding-bottom: 0.5rem; 
padding-right: 1rem; 
padding-left: 1rem; 
background-color: #6EE7B7; 
transition-property: background-color, border-color, color, fill, stroke; 
color: #000000; 
border-radius: 0.375rem; 


}

.customCard{
    background: rgb(241, 117, 117);
    color:seashell;
    width: 100vw;
    
}

#productCard {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70vw;
    flex-shrink: 3;
    background-color: whitesmoke;
  }

.productImg {
    max-width: 100%;  
height: auto;  
}

.productDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    font-size: 0.9rem;
  }

  .grid {
      border: 2px blue solid;
      width: 400px;
      height: 500px;
      
  }