
  .flex-container{
    display: flex;
  flex-direction: row;
     min-width: 85%;
    max-width: 85%; 
    margin-left: 15px;
    
    /* justify-items: center;
  justify-content: center;
  text-align: center; */
 
  
  }

  .grid{
    min-height: 1300px;
    min-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2vw;
    border-bottom: 1px rgb(241, 240, 252) solid;
    justify-items: center;
    justify-content: center;
    overflow-x: hidden;
    align-items: center;

   
  
  }

  #banner_buyDetail {
    background-image:url("../images/color-gradient-2.jpg");
      grid-row-start: 1; 
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    display: inherit;
    background-position: center;
     height: 18rem; 
    width: 100%;
     background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background-size: cover;
    margin-bottom: 10px;
    
  }
  
 
  #section1_buyDetail {
      grid-row-start: 2; 
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    background-position: center;
    /* height: 46rem; */
    width: 100%;
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    margin-top: 2vw;
    margin-bottom: 0vw;
    
  }

  #picture_area_buyDetail{
    grid-row-start: 2; 
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3; 
    margin-left: 5vw;
    display: block;
   
    text-align: center;
  }

  
  #coverImage_buyDetail{
    align-items: center;
    justify-content: center; 
    border-color: beige #1c87c9;
    border-image: none;
    border-radius: 50% 50% 50% 50%;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    margin-top: 30px;


    margin-right: 50px;
  }

  #messageButton_buy{
  
    margin-right: 5vw;
  }

  #section3_buyDetail{
    grid-row-start: 3; 
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 5vw;
    margin-top: 0vw;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    padding: 12px;
    text-align: center; 


  }

  
  #section4_buyDetail{
    grid-row-start: 3; 
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
   /*  display: flex;
    margin: 0 auto;
    justify-items: center;
    justify-content: center;
    flex-direction: column; */
    padding: 12px;
  
    text-align: center; 
    margin: 15% 15% 15% 15%;

  }

  #backButton{
      margin-left: 14vw;
  }
  
  .box{
    grid-row-start: 3; 
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    height: 250px;
    padding: 18;
    display: 'flex';
    flex-Direction: 'column';
    align-Items: 'center';
    text-align: center;
    align-Self: 'center';
    padding-top: 12px;

  }


  .h1{
    color:white;
    font-size: 2.5em;
  }

 .bold{
   font-size: 20px;
 }

  #coverImage{
  
    align-items: center;
    justify-content: center; 
    border-color: beige #1c87c9;
    border-image: none;
    border-radius: 50% 50% 50% 50%;
    border-style: solid;
    border-width: 1px;
    background-image:url("../images/LIProfile.jpg");
    overflow: hidden;
    margin-top: 30px;
    margin-right: 50px;

  }

  #trackDetails_buyDetail{
    grid-row: 2 / span 1;
    grid-column: 1 /span 2;
    display: 'flex';
    flex-direction: 'column';
    align-Items: 'center';
    padding: 20;
    border-Radius: 4;
    margin-Bottom: 5;
    
    margin-left: 50px;
    border: 'solid 1px silver';
    background-Color: 'silver';
    
  }




  #BottomDetail{
    grid-row: 3 / span 1;
    grid-column: 1 /span 2;
    margin-left: 150px;
    
  }

  #DetailRow_buyDetail{
    display: 'flex';
    flex-direction: 'row';
    justify-content: 'space-between';
    align-items: 'center';
    width: '100%';
    padding-Bottom: 20;
    margin-Bottom: 20;
    border-Bottom: 'solid 1px red';
  };
  
   #DetailItem_buyDetail{
    display: 'flex';
    flex-direction: 'column';
    align-Items: 'center';
    justify-Content: 'space-between';
    color: 'grey';
    align-Self: 'center';
  };
  
  #AuthorImage {
    height: 30;
    width: 30;
    margin-Bottom: 8;
    border-Radius: '50%';
    object-Fit: 'cover';
  };
  
  #AuthorName {
    line-Height: '1em';
    font-size: xx-large;
  };
  
  #IconAndLabel {
    display: 'flex';
    flex: 'row';
    align-Items: 'center';
    max-Height: 20;
    width: '100%';

  };


  .nav-item{
    justify-content: space-between;
   }
  

  #controlled-tab-example-tab-home{
    color: black !important;
    background-color: green;
    font-style: italic;
    border-top-color: black;

  }

  #controlled-tab-example-tab-research{
    color: black !important;
    background-color:  transparent;
    font-style: italic;

  }



  #tab1{
    color: black;
  }

  .Headline {
    
    text-align: center;  
  }

  .result {
    
    text-align: right; 
    color: 'black';
  }

  #linky{
    color:blue;
  }

  @media all and (max-width: 768px){
    .grid{
      min-height: 2400px;
      min-width: 0;
      display: grid;
      flex-Direction: column;
      text-align: center;
      align-items: center
    }

    .h1{
 
      max-width: 350px;
    }

    #picture_area_buyDetail{
      grid-row: 2 / span 1;
      grid-column: 1 /span 1;
      margin: 0% 15% 0% 15%;
      width: 80%;
      display: flex;
      flex-Direction: column;
      align-Items: center;
      text-align: center;
      align-Self: center;
      padding: 12px 12px 12px 12px;
      margin-left: 25%;

    }

    #coverImage_buyDetail{
      display: grid;
/*        height: 70vw;
 */      
      border-color: beige #1c87c9;
      border-image: none;
/*       border-radius: 50% 50% 50% 50%;
 */      border-style: solid;
      border-width: 1px;
      background-image:url("../images/LIProfile.jpg");
      overflow: hidden;
      height: 80vw;
      margin-bottom: 35px;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
      display: flex;
      flex-direction: column;
      text-align: center;
     align-items: center;

     /*  margin-top: 30px;
      margin-right: 100px; */
      
    }

  
 

    #section1_buyDetail {
      grid-row-start: 3; 
    grid-row-end: 4;
    grid-column: 1 /span 1;
    background-position: center;
    /* height: 46rem; */
    width: 80%;
    background-repeat: no-repeat;
    background-position: center;

    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    margin: 12px 12px 12px 12px;
    }

    
  #section3_buyDetail{
    grid-row-start: 4; 
    grid-row-end: 5;
    grid-column: 1 /span 1;
    width: 80%;
    margin-left: 0px;
    text-align: center;
    margin: 12px 12px 12px 12px;

  }

  
  #section4_buyDetail{
    grid-row-start: 5; 
    grid-row-end: 6;
    grid-column: 1 /span 1;
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
   align-items: center;
   margin: 12px 12px 12px 12px;
   margin-bottom: 2vw;


  }

  #convoButton{
    margin-right: 15px;
  }

  #backButton{
 
    margin-left: 25vw;
  }

  .box{
    grid-row-start: 6; 
    grid-row-end: 7;
    grid-column: 1 /span 1;

    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    height: 250px;
    padding: 18;
    display: 'flex';
    flex-Direction: 'column';
    align-Items: 'center';
    text-align: center;
    align-Self: 'center';
    padding-top: 0px;

  }


   


  

    #linkedinButton{
      margin: auto;
      margin-bottom: 1vw;
      }
  

    #trackDetails_buyDetail{
      grid-row: 3 / span 1;
      grid-column: 1 / span 1;
      display: grid;

      align-items: center;
      justify-content: center; 
      align-content: center;
      margin: 5% 5% 5% 5%;

    }

   
  
      
  
      
  }

  
  
       
  

  @media only screen and (min-width: 769px) and (max-width:1024px){

    .grid{
      min-width: 0;
      display: grid;
      grid-template-columns: 1fr ;
      grid-template-rows: repeat (7, 1fr);
      height: 500px;
      text-align: center;

    }

    #banner_sellDetail{
      height: 30vw
    }

    .h1{
 
      max-width: 350px;
    }

    #picture_area_buyDetail{
      grid-row: 2 / span 1;
      grid-column: 1 /span 1;
      margin-left: 10%;
      display: block;
      text-align: center;
    }

    #coverImage_buyDetail{
      display: grid;
/*        height: 70vw;
 */      
      border-color: beige #1c87c9;
      border-image: none;
/*       border-radius: 50% 50% 50% 50%;
 */      border-style: solid;
      border-width: 1px;
      background-image:url("../images/LIProfile.jpg");
      overflow: hidden;
      height: 80vw;
      margin-bottom: 35px;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
      


     /*  margin-top: 30px;
      margin-right: 100px; */
      
    }

  
 

    #section1_buyDetail {
      grid-row-start: 3; 
    grid-row-end: 4;
    grid-column: 1 /span 1;
    background-position: center;
    /* height: 46rem; */
    width: 60%;
    }

    
  #section3_buyDetail{
    grid-row-start: 4; 
    grid-row-end: 5;
    grid-column: 1 /span 1;
    width: 60%;
    text-align: center;
    margin-left: 20px;
    margin-top: 5px;
    padding: 12px;
  }

  
  #section4_buyDetail{
    grid-row-start: 5; 
    grid-row-end: 6;
    grid-column: 1 /span 1;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    align-content: center;
    text-align: center;
    margin-left: 40vw;

  }

  #backButton{
    grid-row-start: 6; 
    grid-row-end: 7;
    align-items: center;
    justify-content: center; 
    align-content: center;
    text-align: center;
  }

  .box{
    grid-row-start: 6; 
    grid-row-end: 7;
    grid-column: 1 /span 1;
    margin-bottom: 1vw;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    padding: 18;
    display: 'flex';
    flex-Direction: 'column';
    align-Items: 'center';
    text-align: center;
    align-Self: 'center';
    padding-top: 0px;

  }


   


  

    #linkedinButton{
      margin: auto;
  
      }
  

  }