.wrapper{
    height: 1000px;
    
    width: 1200px; 
    display: grid;
    grid-template-rows: 20% 50% 30%;
    grid-template-columns: 50% 50%;
    
    gap: 5px;
    border: 1px rgb(38, 0, 255) solid;
    
    margin-left: 15px;
    background-color: rgb(239, 243, 214);
    border-radius: var(--border-radius-outer);
    box-shadow: var(--box-shadow);
    padding: 3vw;
    margin: var(--margin);
  }
  
  

 

  .aboutOffer{
    grid-row: 2 / span 1;
    grid-column: 1 /span 1;
    text-align: center;

  }

  .aboutSeller{
    grid-row: 2 / span 1;
    grid-column: 2 /span 1;
    text-align: center;

  }

  .sendMessage{
    grid-row: 3 / span 1;
    grid-column: 1 /span 2;
    text-align: center;

  }
  
  .title {
    text-align: center;
    
    grid-row: 1 / span 1;
    grid-column: 1 /span 2;
 

  }
 
button{
   
    padding-top: 0.5rem; 
padding-bottom: 0.5rem; 
padding-right: 1rem; 
padding-left: 1rem; 
background-color: #6EE7B7; 
transition-property: background-color, border-color, color, fill, stroke; 
color: #000000; 
border-radius: 0.375rem; 


}

.customCard{
    background: rgb(241, 117, 117);
    color:seashell;
    width: 100vw;
    
}

#productCard {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70vw;
    flex-shrink: 3;
    background-color: whitesmoke;
  }

.image {
    max-width: 50%;  
height: auto;  
}


