#cartContainer {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#cartItem {
  background-color: whitesmoke;
  width: 15vw;
  text-align: center;
  padding: var(--small-padding);
  font-size: 80%;
}

#cartItem img {
  width: 90%;
  padding: 0;
  border-radius: var(--border-radius-inner);
}

@media (max-width: 500px) {
  #cartItem {
    width: 40vw;
  }
#cartItem img {
    width: 35vw;
  } 
.rowFlex {
  flex-direction: column;
  justify-content: space-around;
}
  }
