/* .wrapper{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(1fr);

} */

footer      

{
            padding-top: 2em;
            padding-bottom: 2em;
            width: 100%;
            height: auto;
            
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(1fr);
         
            background-color: whitesmoke;
            
            font-size: 100%;
            
            align-items: center;
/*             justify-content: space-between;
 */}

.N3logo {
    height: 3rem;
    pointer-events: none;
    padding-left: 3vw;
    grid-template-columns: 1 fr span 1;
    
  }

  .linkedInSignIn_footer{
    grid-template-columns: 2 span 1;
    padding-left:9vw;
    size: 20rem;
  }
  
  #secured{
    justify-self: end;
    grid-template-columns: 3 fr span 1;


  }

  .Neko{
    height: 2rem;
    margin-right: 3rem;
  }

  @media only screen and (max-width: 700px){

    .N3logo {
      height: 3rem;
      pointer-events: none;
      padding-left: 3vw;
      grid-template-columns: 1 fr span 1;
      
    }


    #secured{
      justify-self: center;
      margin-left: 50px;
  
  
    }

    .linkedInSignIn_footer{
 
      height: 2.5em;
    }

  }

  