footer      {
            bottom: 0;
            width: 89vw;
            height: auto;
         
            background-color: transparent;
            
            font-size: 80%;
            
            align-items: center;
            justify-content: space-between;
}

.N3logo {
    height: 4rem;
    pointer-events: none;
    padding-left: 3vw;
    
  }
  