* {
  margin: 0;
  padding: 0;
}

header {
  height: 15vh;
  width: 90vw;
  border-top-right-radius: var(--border-radius-outer);
  border-top-left-radius: var(--border-radius-outer);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--lightBackground)
}

h1 {
  color: var(--highlight-colour);
  font-size: 300%;
  padding-top: var(--padding);
  padding-left: var(--padding);

}

h2 {
  font-family: "Inter", sans-serif;
  color: orangered;
  font-size: 150%;
  font-family: "Poppins", "Lato", sans-serif;
  padding-left: var(--padding);
  padding-bottom: var(--padding);
}

.App-logo {
  height: 25vh;
  pointer-events: none;
  padding-right: 5vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#LoadingIcon {
  padding: var(--padding);
}


@media (max-width: 750px) {
  h1 {
    font-size: 220%;
  }
h2 {
    font-size: 115%;
  } 
App-logo {
    height: 15vh;
  }
}


@media (max-width: 600px) {
  h1 {
    font-size: 150%;
  }
h2 {
    font-size: 105%;
  } 
App-logo {
    height: 11vh;
  }
}