

 .wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1fr);

}

header {
  width: 100vw;
  border-top-right-radius: var(--border-radius-outer);
  border-top-left-radius: var(--border-radius-outer);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5vw;
  background-color: var(--lightBackground)
}



h1 {
  color: var(--highlight-colour);
  font-size: 300%;
/*   padding-top: var(--padding);
  padding-left: var(--padding); */

}

h2 {
  font-family: "Inter", sans-serif;
  color: orangered;
  font-size: 150%;
  padding-left: var(--padding);
  padding-bottom: var(--padding);
}

.App-logo {
  /*Note- height adjustment is in App.css file!  */
  pointer-events: none;
  padding-left: 5vw;
  padding-top: 1em;
  padding-bottom: 1em;
  grid-template-columns: 1 span 1;
}



.authNav{
  grid-template-columns: 3 span 1;
  padding-right: 4vw;

}




#LoadingIcon {
  padding: var(--padding);
}


@media (max-width: 750px) {
  h1 {
    font-size: 220%;
  }
h2 {
    font-size: 115%;
  } 
.App-logo {
  padding-right: 0;
  height: 25vmin;
  }
}


@media (max-width: 600px) {
  h1 {
    font-size: 150%;
  }
h2 {
    font-size: 105%;
  } 
.App-logo {
  height: 25vmin;
  padding-top: .5em;
  padding-bottom: .5em;
  }
  .linkedInSignIn{
 
    height: 2em;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px)
{
  .App-logo {
    height: 3rem;
    }

}