.StyledMarkdown {

color: grey;
padding: 20;
border-Radius: 4;
 border: solid 1px;

}

.border{
    color: silver;
    background-color: silver;
}

 .h1 {
    font-Size: '1.7em',
  };

  .h2 {
    font-Size: '1.4em',
  };

  h3 {
    font-Size: '1.2em',
  };

  a {
     color: pink,
   };
