nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 82vw;
  height: 7vh;
  background-color: var(--font-color);
    padding: var(--small-padding);
    border-bottom-right-radius: var(--border-radius-outer);
    box-shadow: var(--box-shadow);
  }
  
  #nav-links:hover{
    background-color: #1888ff;
    border-radius: 0;
  }

  nav a {
    color: var(--lightBackground);
    font-size: 90%;
  }
  
  #icon {
    height: 5vh;
    margin: 0;
  }

  #cartCounterFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:auto;
  }
  
  #buy {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:auto;
  }

  #sell {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:auto;
  }

  #about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:auto;
  }

  #cartCounter {
    border: 3px solid var(--insideBackground);
    border-radius: 50%;
    padding: 0vw 1.25vw;
    color: var(--lightBackground);
    margin: 0;
  }
  
  
  #hiAndLogout {
    display: inline-flex;
    width: 30vw;
    align-items: center;
    font-size: 1rem;
  }
  
  #hiAndLogout button {
    border: 3px solid var(--insideBackground);
    margin: var(--margin);
  }
  
 