
#productContainer {
    width: 60vw;
    padding: var(--padding);
    background-color: var(--lightBackground);
    color: var(--highlight-colour);
    font-size: 85%;
    }
  
  #productContainer img {
    width: 25vw;
    border-radius: var(--border-radius-inner);
  }
  
  #productText {
    margin: var(--margin);
    padding: var(--padding);
  }
  
  #productText button {
    margin: 0;
    padding: var(--padding)
  }
    
  #productText h4 {
    color: darkslateblue;
  }


  @media (max-width: 900px) {
    #productContainer {
      width: 90%;
    }
    #productContainer img {
      width: 34vw;
    }
  }


  @media (max-width: 600px) {
    .pageContainer {
      flex-direction: column;
    }
    #productContainer img {
      width: 64vw;
    }
    #productText {
      text-align: center;
    }
  }