.productDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  font-size: 0.9rem;
}

#productCard.card {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 18vw;
  flex-shrink: 3;
  background-color: whitesmoke;
}


.productImg {
  width: 15vw;
}

@media (max-width: 900px) {
  #productCard.card {
    width: 25vw;
  }

img.productImg {
    width: 22vw;
    border-radius: var(--border-radius-inner);
  } 
  }

@media (max-width: 500px) {
    #productCard.card {
      width: 40vw;
    }
  img.productImg {
      width: 35vw;
    } 
    }
    